.header {
    background: #7bd454;
    line-height: 80px;
    height: 80px;
}

.rows {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1300px;
}

.header .logo {
    float: left;
    height: 100%;
    margin-left: 10px;
}

.search {
    float: left;
    height: 100%;
    width: 350px;
    margin-left: 20px;
}

.siteLinks {
    float: left;
    margin-left: 10px;
    height: 100%;
    width: 175px;
}

.siteLinks li {
    display: block;
    float: left;
    margin: 0 10px;
    position: relative;
    list-style: none;
}

.siteLinks li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.siteLinks li a:hover {
    color: #39750d;
}

.userLinks {
    float: right;
    height: 100%;
    width: 310px;
}

.userLinks li {
    display: block;
    float: left;
    margin: 0 10px;
    position: relative;
    list-style: none;
}

.userLinks li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.userLinks li a:hover {
    color: #39750d;
}

.userLinks .regisEscape {
    padding: 16px 11px;
    width: 170px;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #5EA32B;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 3px;
}

.userLinks .regisEscape:hover {
    color: white;
    background: #287900;
}

.dropdown-menu li {
    line-height: 20px;
}

.inputGroup {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 100%;
    width: 100%;
}

.inputGroup .dropdown {
    float: left;
    width: 120px;
    display: block;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
    height: auto;
    position: absolute;
    height: 44px;
}

.inputGroup .dropdown input[type=radio] {
    display: none;
}

.inputGroup .dropdown label {
    background-color: #5ea32b;
    /* display: none; */
    cursor: pointer;
    padding: 15px 10px;
    width: 100%;
    height: 40px;
    line-height: 1;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    z-index: 98;
    bottom: 0;
}

.inputGroup .dropdown label:hover {
    background-color: #287900;
}

.inputGroup .dropdown input[type=radio]:checked + label {
    display: block;
    top: 0;
}

.inputGroup .dropdown input[type=radio]:checked + label:after {
    content: "";
    position: absolute;
    right: .5625rem;
    top: .9375rem;
    line-height: 1;
    width: .6875rem;
    height: .4375rem;
}

.inputGroup .dropdown.active {
    height: 88px;
}

.inputGroup .dropdown.active label {
    display: block;
}

.searchInput {
    border-radius: 0px;
    height: 40px;
}

.banner {
    background: #DDD;
    /*height: 200px;*/
}

.banner .heading {
    background-size: auto 100%;
    background-position: center top;
    padding: 40px 0 20px;
    text-align: center;
    color: white;
}

.firstHeading {
    font-size: 30px;
    padding: 5px 20px 5px;
    background: #5ea32b;
    text-shadow: 0 1px 0 #477b20;
    display: inline-block;

}

.secondHeading {
    clear: left;
    font-size: 20px;
    margin-left: 62px;
    margin-top: 3px;
    padding: 5px 20px 5px;
    background: #7bd454;
    text-shadow: 0 1px 0 #54af2c;
    display: inline-block;
}

.welcom {
    text-align: center;
    margin-left: 337px;
}

.welcom .textWelcom {
    margin-left: 0;
    margin-right: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 346px;
}

.shotcutButton {
    text-align: center;
    padding-top: 15px;
}

.shotcutButton .sb {
    height: 45px;
    font-size: 20px;
    line-height: 31px;
}

.shotcutButton .sb1 {
    background: #2980b9;
    color: white;
    text-shadow: 0 1px 0 #2980b9;
}

.shotcutButton .sb1:hover {
    background: #3498db;
}

.shotcutButton .sb2 {
    background: whitesmoke;
    color: #2980b9;
}

.shotcutButton .sb2:hover {
    background: #ecf0f1;
}

.background{
    position: absolute;
    width: 100%;
}

.background .w1{
    float: left;
}

.background .w2{
    float: right;
}

.background .bg{

}