USE [master]
GO
/****** Object:  Database [MS]    Script Date: 09/27/2014 19:09:58 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'MS')
BEGIN
CREATE DATABASE [MS] ON  PRIMARY 
( NAME = N'MS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\MS.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\MS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MS]
GO
/****** Object:  Table [dbo].[SkillCategory]    Script Date: 09/27/2014 19:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SkillCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SkillCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[CategoryNameVietnam] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SkillCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Account]    Script Date: 09/27/2014 19:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[JoinDate] [date] NOT NULL,
	[Role] [nchar](20) NULL,
	[IsWebmaster] [nchar](10) NOT NULL,
	[Avatar] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Status] [nchar](10) NULL,
	[Phone] [nchar](20) NULL,
	[FullName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Customer](
	[AccountId] [int] NOT NULL,
	[Payment] [float] NOT NULL,
	[Address] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customer_1] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MaidMediator]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MaidMediator]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MaidMediator](
	[AccountId] [int] NOT NULL,
	[Payment] [float] NOT NULL,
 CONSTRAINT [PK_MaidRepresentation] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SkillInstance]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SkillInstance]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SkillInstance](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SkillName] [nvarchar](50) NOT NULL,
	[SkillString] [nvarchar](50) NOT NULL,
	[SkillNormallized] [int] NOT NULL,
	[SkillStringValue] [float] NOT NULL,
	[SkillNameVietnam] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Staff]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Staff](
	[AccountId] [int] NOT NULL,
 CONSTRAINT [PK_Staff_1] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SkillReference]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SkillReference]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SkillReference](
	[SkillRefId] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [int] NULL,
	[Age] [int] NULL,
	[Language] [int] NULL,
	[Experience] [int] NULL,
	[Hometown] [int] NULL,
	[Address] [int] NULL,
	[Health] [int] NULL,
	[Personality] [int] NULL,
	[Stay] [int] NULL,
	[Salary] [int] NULL,
	[Work] [int] NULL,
	[Exteriority] [int] NULL,
	[Care] [int] NULL,
	[Cooking] [int] NULL,
	[Washing] [int] NULL,
	[CleanHouse] [int] NULL,
	[Time] [int] NULL,
	[Day] [int] NULL,
 CONSTRAINT [PK_Skill_1] PRIMARY KEY CLUSTERED 
(
	[SkillRefId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Maid]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Maid]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Maid](
	[MaidId] [int] IDENTITY(1,1) NOT NULL,
	[MaidName] [nvarchar](50) NOT NULL,
	[MaidMediatorId] [int] NULL,
	[StaffId] [int] NULL,
	[PersonalImage] [nchar](100) NULL,
	[Experience] [float] NULL,
	[Description] [nvarchar](500) NULL,
	[RateAvg] [float] NULL,
	[FullName] [nvarchar](20) NULL,
 CONSTRAINT [PK_Maid_1] PRIMARY KEY CLUSTERED 
(
	[MaidId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[JobRequest]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JobRequest]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JobRequest](
	[JobRequestId] [int] IDENTITY(1,1) NOT NULL,
	[SkillRefId] [int] NOT NULL,
	[MaidMediatorId] [int] NULL,
	[StaffId] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[PostTime] [datetime] NOT NULL,
	[ExpiredTime] [datetime] NOT NULL,
	[ApplyTimes] [datetime] NULL,
	[MaidId] [int] NOT NULL,
 CONSTRAINT [PK_JobRequest_1] PRIMARY KEY CLUSTERED 
(
	[JobRequestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_JobRequest] UNIQUE NONCLUSTERED 
(
	[SkillRefId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_JobRequest_1] UNIQUE NONCLUSTERED 
(
	[JobRequestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Recruitment]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Recruitment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Recruitment](
	[RecruitmentId] [int] IDENTITY(1,1) NOT NULL,
	[SkillRefId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[PostRequestedTime] [datetime] NOT NULL,
	[ExpiredTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Recruitment] PRIMARY KEY CLUSTERED 
(
	[RecruitmentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Recruitment] UNIQUE NONCLUSTERED 
(
	[SkillRefId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rating]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[JobRequestId] [int] NOT NULL,
	[Rate] [float] NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Comment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[JobRequestId] [int] NOT NULL,
	[PostTime] [datetime] NOT NULL,
	[CommentContent] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Apply]    Script Date: 09/27/2014 19:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Apply]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Apply](
	[RecruitmentId] [int] NOT NULL,
	[JobRequestId] [int] NOT NULL,
 CONSTRAINT [PK_Apply_1] PRIMARY KEY CLUSTERED 
(
	[RecruitmentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Apply] UNIQUE NONCLUSTERED 
(
	[JobRequestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Default [DF_Account_isActive]    Script Date: 09/27/2014 19:10:01 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Account_isActive]') AND parent_object_id = OBJECT_ID(N'[dbo].[Account]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Account_isActive]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_isActive]  DEFAULT ((0)) FOR [IsActive]
END


End
GO
/****** Object:  ForeignKey [FK_Customer_Account]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Customer_Account]') AND parent_object_id = OBJECT_ID(N'[dbo].[Customer]'))
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Customer_Account]') AND parent_object_id = OBJECT_ID(N'[dbo].[Customer]'))
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
/****** Object:  ForeignKey [FK_MaidRepresentation_Account]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MaidRepresentation_Account]') AND parent_object_id = OBJECT_ID(N'[dbo].[MaidMediator]'))
ALTER TABLE [dbo].[MaidMediator]  WITH CHECK ADD  CONSTRAINT [FK_MaidRepresentation_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MaidRepresentation_Account]') AND parent_object_id = OBJECT_ID(N'[dbo].[MaidMediator]'))
ALTER TABLE [dbo].[MaidMediator] CHECK CONSTRAINT [FK_MaidRepresentation_Account]
GO
/****** Object:  ForeignKey [FK_SkillInstance_SkillCategory]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SkillInstance_SkillCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[SkillInstance]'))
ALTER TABLE [dbo].[SkillInstance]  WITH CHECK ADD  CONSTRAINT [FK_SkillInstance_SkillCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[SkillCategory] ([CategoryId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SkillInstance_SkillCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[SkillInstance]'))
ALTER TABLE [dbo].[SkillInstance] CHECK CONSTRAINT [FK_SkillInstance_SkillCategory]
GO
/****** Object:  ForeignKey [FK_Staff_Account]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Staff_Account]') AND parent_object_id = OBJECT_ID(N'[dbo].[Staff]'))
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Staff_Account]') AND parent_object_id = OBJECT_ID(N'[dbo].[Staff]'))
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Account]
GO
/****** Object:  ForeignKey [FK_SkillReference_Skill]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SkillReference_Skill]') AND parent_object_id = OBJECT_ID(N'[dbo].[SkillReference]'))
ALTER TABLE [dbo].[SkillReference]  WITH CHECK ADD  CONSTRAINT [FK_SkillReference_Skill] FOREIGN KEY([Gender])
REFERENCES [dbo].[SkillInstance] ([SkillId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SkillReference_Skill]') AND parent_object_id = OBJECT_ID(N'[dbo].[SkillReference]'))
ALTER TABLE [dbo].[SkillReference] CHECK CONSTRAINT [FK_SkillReference_Skill]
GO
/****** Object:  ForeignKey [FK_Maid_MaidMediator1]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Maid_MaidMediator1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maid]'))
ALTER TABLE [dbo].[Maid]  WITH CHECK ADD  CONSTRAINT [FK_Maid_MaidMediator1] FOREIGN KEY([MaidMediatorId])
REFERENCES [dbo].[MaidMediator] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Maid_MaidMediator1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maid]'))
ALTER TABLE [dbo].[Maid] CHECK CONSTRAINT [FK_Maid_MaidMediator1]
GO
/****** Object:  ForeignKey [FK_Maid_Staff]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Maid_Staff]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maid]'))
ALTER TABLE [dbo].[Maid]  WITH CHECK ADD  CONSTRAINT [FK_Maid_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Maid_Staff]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maid]'))
ALTER TABLE [dbo].[Maid] CHECK CONSTRAINT [FK_Maid_Staff]
GO
/****** Object:  ForeignKey [FK_JobRequest_Maid]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JobRequest_Maid]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobRequest]'))
ALTER TABLE [dbo].[JobRequest]  WITH CHECK ADD  CONSTRAINT [FK_JobRequest_Maid] FOREIGN KEY([MaidId])
REFERENCES [dbo].[Maid] ([MaidId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JobRequest_Maid]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobRequest]'))
ALTER TABLE [dbo].[JobRequest] CHECK CONSTRAINT [FK_JobRequest_Maid]
GO
/****** Object:  ForeignKey [FK_JobRequest_MaidMediator1]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JobRequest_MaidMediator1]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobRequest]'))
ALTER TABLE [dbo].[JobRequest]  WITH CHECK ADD  CONSTRAINT [FK_JobRequest_MaidMediator1] FOREIGN KEY([MaidMediatorId])
REFERENCES [dbo].[MaidMediator] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JobRequest_MaidMediator1]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobRequest]'))
ALTER TABLE [dbo].[JobRequest] CHECK CONSTRAINT [FK_JobRequest_MaidMediator1]
GO
/****** Object:  ForeignKey [FK_JobRequest_SkillReference]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JobRequest_SkillReference]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobRequest]'))
ALTER TABLE [dbo].[JobRequest]  WITH CHECK ADD  CONSTRAINT [FK_JobRequest_SkillReference] FOREIGN KEY([SkillRefId])
REFERENCES [dbo].[SkillReference] ([SkillRefId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JobRequest_SkillReference]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobRequest]'))
ALTER TABLE [dbo].[JobRequest] CHECK CONSTRAINT [FK_JobRequest_SkillReference]
GO
/****** Object:  ForeignKey [FK_JobRequest_Staff]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JobRequest_Staff]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobRequest]'))
ALTER TABLE [dbo].[JobRequest]  WITH CHECK ADD  CONSTRAINT [FK_JobRequest_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JobRequest_Staff]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobRequest]'))
ALTER TABLE [dbo].[JobRequest] CHECK CONSTRAINT [FK_JobRequest_Staff]
GO
/****** Object:  ForeignKey [FK_Recruitment_Customer]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Recruitment_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Recruitment]'))
ALTER TABLE [dbo].[Recruitment]  WITH CHECK ADD  CONSTRAINT [FK_Recruitment_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Recruitment_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Recruitment]'))
ALTER TABLE [dbo].[Recruitment] CHECK CONSTRAINT [FK_Recruitment_Customer]
GO
/****** Object:  ForeignKey [FK_Recruitment_SkillReference1]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Recruitment_SkillReference1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Recruitment]'))
ALTER TABLE [dbo].[Recruitment]  WITH CHECK ADD  CONSTRAINT [FK_Recruitment_SkillReference1] FOREIGN KEY([SkillRefId])
REFERENCES [dbo].[SkillReference] ([SkillRefId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Recruitment_SkillReference1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Recruitment]'))
ALTER TABLE [dbo].[Recruitment] CHECK CONSTRAINT [FK_Recruitment_SkillReference1]
GO
/****** Object:  ForeignKey [FK_Rating_Customer]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rating_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rating]'))
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rating_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rating]'))
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Customer]
GO
/****** Object:  ForeignKey [FK_Rating_JobRequest]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rating_JobRequest]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rating]'))
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_JobRequest] FOREIGN KEY([JobRequestId])
REFERENCES [dbo].[JobRequest] ([JobRequestId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rating_JobRequest]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rating]'))
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_JobRequest]
GO
/****** Object:  ForeignKey [FK_Comment_Customer]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Comment_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comment]'))
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([AccountId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Comment_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comment]'))
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Customer]
GO
/****** Object:  ForeignKey [FK_Comment_JobRequest]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Comment_JobRequest]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comment]'))
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_JobRequest] FOREIGN KEY([JobRequestId])
REFERENCES [dbo].[JobRequest] ([JobRequestId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Comment_JobRequest]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comment]'))
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_JobRequest]
GO
/****** Object:  ForeignKey [FK_Apply_JobRequest]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Apply_JobRequest]') AND parent_object_id = OBJECT_ID(N'[dbo].[Apply]'))
ALTER TABLE [dbo].[Apply]  WITH CHECK ADD  CONSTRAINT [FK_Apply_JobRequest] FOREIGN KEY([JobRequestId])
REFERENCES [dbo].[JobRequest] ([JobRequestId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Apply_JobRequest]') AND parent_object_id = OBJECT_ID(N'[dbo].[Apply]'))
ALTER TABLE [dbo].[Apply] CHECK CONSTRAINT [FK_Apply_JobRequest]
GO
/****** Object:  ForeignKey [FK_Apply_Recruitment]    Script Date: 09/27/2014 19:10:01 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Apply_Recruitment]') AND parent_object_id = OBJECT_ID(N'[dbo].[Apply]'))
ALTER TABLE [dbo].[Apply]  WITH CHECK ADD  CONSTRAINT [FK_Apply_Recruitment] FOREIGN KEY([RecruitmentId])
REFERENCES [dbo].[Recruitment] ([RecruitmentId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Apply_Recruitment]') AND parent_object_id = OBJECT_ID(N'[dbo].[Apply]'))
ALTER TABLE [dbo].[Apply] CHECK CONSTRAINT [FK_Apply_Recruitment]
GO
