@model float

<div class="rate">
    <span class="starRating1">
        <span class="starRating2" style="width: @(Model * 10)%"></span>

    </span>
</div>
<span class="ratingPoint">@Model / 10 điểm</span>
