<link href="~/Content/bootstrap-star-rating-master/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="~/Content/bootstrap-star-rating-master/js/star-rating.min.js" type="text/javascript"></script>
@model object
@{
    //Model.rate;
    float numrate = 1 *5/10;
}
<form>
    @using (Html.BeginForm("RatingJobRequest", "Post", FormMethod.Post, new { jobId =  1}))
    {
    <input id="input-23" value="@numrate" class="rating">
    <button type="submit" class="btn btn-primary">Chấm điểm</button>
    }
</form>
@*
        [HttpPost]
        public ActionResult RatingJobRequest(int jobId)
        {
            return RedirectToAction("GetJobRequest", "Post", new {jobId = jobId});
        }*@