<div class="row footerRow">
    <div class="footer">
        <a class="footerLogo" href="@Url.Action("Index","Home")">
            <img src="../Content/Image/MS-Logo-white.png" alt="Maid sercive" height="100">
        </a>
        <p class="footerLegal">© 2014 Maid Service.</p>
    </div>
</div>
