@{
    List<MS_Website.Models.Account> accounts = Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BanAcc = true;
}

<link rel="stylesheet" type="text/css" href="../Content/TableJquery/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="../Content/TableJquery/js/jquery.dataTables.min.js"></script>
<div class="Menu">
    @Html.Partial("_PartialMenu")
</div>

<div class="body">
    <div class="rows">
        <div class="row">
            <div class="col-md-8">
                <script type="text/javascript" language="javascript" class="init">
                    $(document).ready(function () {
                        $('#JRTable').DataTable();
                    });
                </script>
<table id="JRTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên đăng nhập</th>
            <th>Xử lý</th>
        </tr>
    </thead>
    <tbody>
        @{var count=0;}
        @foreach(var account in accounts)
        {
                            
            count++;
            <tr>
                <td>
                    @count
                    <input type="hidden" value="@(account.AccountId)" id="" />
                </td>
                                
                <td>
                    @account.Username
                </td>
                                
                                
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="btnActive(@account.AccountId)">Khóa</button>
                </td>
            </tr>
        }
                        
    </tbody>
</table>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myLargeModalLabel">Xác nhận</h4>
                            </div>
                            <div class="modal-body">
                               Bạn thực sự muốn khóa tên đăng nhập này?
                            </div>
                            <div class="modal-footer">
                                @using (Html.BeginForm("MarkActive","Admin",FormMethod.Get))
                                {
                                    <input type="hidden" name="accountId" id="jrId2" />
                                    <button type="submit" class="btn btn-success" id="btnAccept">Chấp nhận</button>
                                }
                                
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" language="javascript">
            /*  $("#btnActive").click(function (jobRequestId)
              {
                 document.getElementById('jrId2').setAttribute("value",jobRequestId);
              })*/

            function btnActive(accountId) {
                document.getElementById('jrId2').setAttribute("value", accountId);
            }
        </script>

    </div>
</div>


 