<div class="row footerRow">
        <div class="footer">
            <div class="col-md-5" style="text-align: right">
                <img class="imgWorkFooter" src="../Content/Image/Home/work1.png" alt="Maid sercive">
                <img class="imgWorkFooter" src="../Content/Image/Home/work2.png" alt="Maid sercive">
            </div>
            <div class="col-md-2">
                <a class="footerLogo" href="@Url.Action("Index","Home")">
                    <img src="../Content/Image/MS-Logo-white.png" alt="Maid sercive" height="100">
                </a>
                <p class="footerLegal">© 2014 Maid Service.</p>
            </div>
            <div class="col-md-5" style="text-align: left">
                <img class="imgWorkFooter" src="../Content/Image/Home/work3.png" alt="Maid sercive">
                <img class="imgWorkFooter" src="../Content/Image/Home/work4.png" alt="Maid sercive">
            </div>
        </div>
    </div>
