@if (Session["Fullname"] != null)
{
    <div class="hMainFunction">
    <div class="hUserName">
        <a href="@Url.Action("Redirect", "Home")">@Session["Fullname"].ToString()</a>
    </div>
    <ul class="hUserFuncList">
        <li>
            <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-question-sign"></span></a>
        </li>
        <li>
            @using (Html.BeginForm("LogOut", "Home"))
            {
                <button class="btn btn-link" title="Log out" type="submit">Đăng xuất</button>
            }
        </li>
    </ul>
        </div>
}
else
{
    <div class="userLinks">
    <li>
        <a style="color: rgb(123, 212, 84); text-transform: uppercase; padding: 16px 11px; background: white; height: 40px; border-radius: 3px;" href="@Url.Action("Login", "Home")">Đăng nhập</a>

    </li>
    <li><a class="regisEscape" href="@Url.Action("Register", "Home")">Đăng ký</a></li>
    </div>
}



