@model MS_Website.Models.Recruitment

@using (Ajax.BeginForm("Details", "CustomerRecruiment", null, new { EncType = "multipart/form-data", id = "details-form" }))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Chi tiết</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Tuyển người giúp việc
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12" align="center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i>&nbsp;Bỏ Qua
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-save"></i>&nbsp;Lưu
                </button>
            </div>
        </div>
    </div>
}