@model MS_Website.Models.Recruitment


<link href="~/Content/Style/Home.css" rel="stylesheet">
<link href="~/Content/style/profilePage.css" rel="stylesheet">

@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="body">
        <div class="rows">
            <div class="row">
                <div class="titlePage">Đăng yêu cầu công việc</div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Các kỹ năng
                        </div>
                        <div class="col-md-8">
                            <div class="boxPostJRSkill">
                                <div class="skillPost">
                                    <div class="postOpenButton">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" id="choose-skill-button">
                                            Thêm kỹ năng
                                        </button>
                                    </div>
                                    <ul>
                                        <li class="childSkill">Giới tính - Nam<span
                                            class="glyphicon glyphicon-remove"></span>
                                        </li>
                                        <li class="childSkill">Tuổi 18-25<span class="glyphicon glyphicon-remove"></span>
                                        </li>
                                        <li class="childSkill">Ngôn ngữ - Anh<span
                                            class="glyphicon glyphicon-remove"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Thời hạn đăng
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" name="TimeSpan">
                                <option value="7">1 tuần</option>
                                <option value="14">2 tuần</option>
                                <option value="21">3 tuần</option>
                                <option value="28">4 tuần</option>
                                <option value="35">5 tuần</option>
                            </select>
                            <span class="postJRTimeTotal">Tổng <span>1</span> * <span
                                class="postJRTimePrice">25.000</span> = <span class="postJRTimePriceTotal">25.000</span> đồng</span>
                            <span class="postJRTimeDetail">Đơn giá hiện tại <span
                                class="postJRTimePrice">25.000</span> đồng/Tuần</span>
                        </div>
                    </div>
                </div>
                <div class="postJRRow">
                    <div class="row">
                        <div class="col-md-4 poJRTtitle">
                            Đăng cho
                        </div>
                        <div class="col-md-8">
                            <div class="boxPostJRUser">
                                <div class="postOpenButton">
                                    <button class="btn btn-primary" data-toggle="modal" id="choose-maid-button">
                                        Chọn người
                                    </button>
                                </div>
                                <div>
                                    <div class="liImage">
                                        <img src="../Content/Image/MS-Logo.png" alt="Maid sercive" height="100%">
                                    </div>
                                    <div class="liMaidContent">
                                        <div class="licoFullName">
                                            <a href="#">Bùi Tiến Tuân</a>
                                        </div>
                                        <div class="licoRate">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </div>
                                        <div class="ricoPost">
                                            Đăng/nhận
                                        <span class="ricoPostApply">80</span>/<span class="ricoPostTotal">30</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <button type="submit" class="btn btn-success btn-lg">Đăng yêu cầu</button>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal fade in chooseSkillModel" id="skill-model">
    <div id="skill-container"></div>
</div>

<div class="modal fade in chooseMaidModel" id="maid-model">
    <div id="maid-container"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#choose-skill-button").click(function () {
            var url = "/CustomerRecruiment/ChooseSkill";
            $.get(url, function (data) {
                $("#skill-container").html(data);
                $("#skill-model").modal("show");
            });
        });

        $("#choose-maid-button").click(function () {
            var url = "/CustomerRecruiment/ChooseMaid";
            $.get(url, function (data) {
                $("#maid-container").html(data);
                $("#maid-model").modal("show");
            });
        });
    })
</script>
