@model IEnumerable<MS_Website.Models.Comment>


<div class="actionBox">
    <ul class="commentList">
        @foreach (var item in Model)
        {
            <li>
                <div class="commenterImage">
                    <img src="http://lorempixel.com/50/50/people/6">
                </div>
                <div class="commentText">
                    <p class="">@item.CommentContent</p>
                    <span class="date sub-text"> @String.Format("{0:d/M/yyyy}", item.PostTime)</span>
                </div>
            </li>
        }
    </ul>
</div>

