@model MS_Website.Models.Comment

<link href="~/Content/AdminLTE-master/css/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="overView box box-success">
    @{Html.RenderAction("Index", "Evaluate", new { id = 1 });}

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="box-footer">
            <div class="input-group">
                @Html.Hidden("CustomerId", "11")
                @Html.Hidden("JobRequestId", "1")
                <input class="form-control" name="CommentContent" placeholder="Bình luận...">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    }
</div>



