@model MS_Website.Models.Rating

<link href="~/Content/bootstrap-star-rating-master/css/star-rating.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap-star-rating-master/js/star-rating.js"></script>

@using (Html.BeginForm())
{
    //if ((bool)Session["flag"])
    //{
    <input id="input-3" class="rating" data-size="sm" value="@ViewBag.AverageRate" />@*
    }
    else
    {
    <input id="input-3" class="rating" data-size="sm" value="@ViewBag.AverageRate" data-readonly="true" />
    }*@
    <input name="Rate" id="Rate" value="" type="hidden" />
    <input name="JobRequestId" value="@ViewBag.JobReqId" type="hidden" />
    
    @*<input name="AccountId" value='@(int)Session["AccId"]' type="hidden" />*@
    
    <button type="submit" class="btn btn-primary">Chấm điểm</button>
}

<script type="text/javascript">
    replaceStr();
    function replaceStr() {
        var str = $("#input-3").val();
        var rep = str.replace(",", ".");
        $("#input-3").val(rep);
    };
    $("#input-3").change(function () {
        replaceStr();
    })
</script>
